# Power Apps Configuration
VITE_ENVIRONMENT_ID=1441687e-e0a7-e4b3-a84d-747b95067a0c
VITE_SHAREPOINT_SITE=https://vishtechtalk.sharepoint.com/sites/DemoSite
VITE_FAQs_LIST_ID=42f629c9-09bc-4de5-a7f6-d3b92f5f2265
